{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Library homepage </title>
        <link rel="stylesheet" href="{% static 'home/styles.css' %}">
    </head>
    <body background-image="image.jpeg">
        <h1> Welcome to the Library!</h1>
        <h2> <a href="/books">Visit our page with books</a></h2>
        <p>
            <a href="/books">Увійти в персональний кабінет</a>
        </p>
        <p>
            <a href="/takenBooks">Кабінет бібліотекаря</a>
        </p>
    </body>
</html>